<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>debug.ejs</title>
</head>
<body>
    test


    <ul>
        <% for(let i=0; i<info.length;i++){ %>

          <li class="special">
            <div><%= info[i]._id %></div>
            <div><%= info[i].category %></div>
            <div><%= info[i].sequence %></div>
            <div><%= info[i].name %></div>
            <div><%= info[i].description %></div>
            <div><%= info[i].price %></div>
            <div><%= info[i].allergies %></div>
        </li>
        <% } %>

    </ul>
</body>
</html>