<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olea Dinner Menu</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/21ef82ed30.js" crossorigin="anonymous"></script>
    <style>
        
        
        .special{
            margin-bottom: 0px;
        }
        #wrapper{
            min-width:100%;
            min-height:100vh;
            /* background:grey; */
            display:grid;
            place-content:center;
        }
        #specials{
            position: relative;
        }
        #controls{
            line-height:30px;
            font-size:19px;
        }
        #controls{
            width:4.25in;
            height:5.5in;
            background:white;
            border:solid 1px black;
            padding: 0px 0px;
            display:inline-block;
            
        }
        #dinner-menu{
            width: 8.5in;
            height: 14in;
            position: relative;
            border: 1px solid red;
            transform: scale(0.75);

            padding-left:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerPaddingSides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            
            padding-right:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerPaddingSides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            padding-top:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerPaddingTop'){ 
                        
                        %>
                        <%= info[i].pixels %>
            <%
                    } 
                } 
            %>;

        }
        
        ul{
            font-family:serif;
        }
        
        h1{
            padding-bottom:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls' && info[i].name == 'h1paddingBottom'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'oleaLogoFontSize'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
        }
        h2{
            font-family: FuturaLight;
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'sidesFontSize'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
        }
        h3{
            font-family: FuturaLight;
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerMenuFontSize'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
        }
        li{
            padding-top:            
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerMenuItemsPadding'){ 
                        let half=(info[i].pixels).substring(0,info[i].pixels.length-2)/2
                        %>
                        <%= half%>px
            <%
                    } 
                } 
            %>;
            padding-bottom:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerMenuItemsPadding'){ 
                        let half=(info[i].pixels).substring(0,info[i].pixels.length-2)/2
                        %>
                        <%= half%>px
            <%
                    } 
                } 
            %>;
            line-height:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerMenuLineHeight'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerMenuFontSize'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
        }
        input{
            text-align: center;
        }
        #legal-disclaimer{
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'legalDisclaimerFontSize'){ 
                        
                        %>
                        <%= info[i].pixels %>
            <%
                    } 
                } 
            %>;

        }
        #flexbox{
            display:flex;
            /* border:1px solid blue; */
        }
        button, #save-changes{
            padding:10px 20px;
            cursor:pointer;
        }
        #top, #sides, #footer{
            gap:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerCenterGap'){ 
                        
                        %>
                        <%= info[i].pixels %>
            <%
                    } 
                } 
            %>;
        }
        nav li{
            width:25%;
            text-align: center;
            padding: 5px 0;
            border-radius: 20px;
            cursor: pointer;
        }
        nav ul{
            width:100%;
        }
      
        .active-page{
        background: black;
        color:white;
        cursor: none;
      }

        @media (orientation: landscape){
            #flexbox{
                flex-direction: row;
            }
            
            @media (max-width: 8.5in){
                #wrapper{
                    width:8.5in;
                }
            }
        }
        @media (orientation: portrait){
            #flexbox{
                flex-direction: column;
                align-items: center;
                
            }
            #dinner-menu{
                position: relative;
                margin-top:-150px;
            }
            @media (max-width: 4.25in){
                #wrapper{
                    width:4.25in;
                }
            }

        }
        nav li{
            font-size:16px;
            width:25%;
            text-align: center;
            padding: 5px 0;
            border-radius: 20px;
            cursor: pointer;
        }
        nav h1{
            text-align: center;
            font-size: 40px;
            font-weight: 100;
        }
    </style>
</head>

<% 
    let appetizerCount=0
    let entreeCount=0
    let dessertCount=0
    for (let i=0; i<info.length; i++){
        if (info[i].category == "SPECIALS: Appetizer") appetizerCount++ 
        if (info[i].category == "SPECIALS: Entrée") entreeCount++ 
        if (info[i].category == "SPECIALS: Dessert") dessertCount++ 
    }
    
%>
<script>
    let appetizerCount = <%=appetizerCount%>
    let entreeCount = <%=entreeCount%>
    let dessertCount = <%=dessertCount%>
   
</script>

<body>

    <nav style="width:60ch;margin:0 auto;margin-bottom:50px;">
        <h1 style="padding:0 20px;
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        ">
                olea
                <span style="font-size:20px;">Content Manager</span></h1>
                
                
                <ul style="display:flex;list-style-type: none;">
                    <li id="specials">Specials</li>
                    <li class="active-page">Dinner</li>
                    <li>Dessert</li>
                    <li>Wine/Drinks</li>
                    <li id="archive">Archive</li>
                </ul>
                <ul style="display:flex;list-style-type: none;margin-top:10px;">
                    <li id="dinner-update-cured-meats" style="width:33%;">Edit Menu Items</li>
                    <li class="active-page" id="specials-format-layout" style="width:33%;">Format Layout</li>
                    <li id="specials-print-preview" style="width:33%;">Print Preview</li>
                </ul>

            </nav>
            
            
<div id="wrapper">


<div id="flexbox">    

<div id="controls" style="position:relative;top:300px;">
    <form method="POST" action="/saveDinnerMenuChanges">
        FORMAT PAGE LAYOUT<br>
        Page Space Left & Right: <input name="dinnerPaddingSides" id="dinner-padding-sides" type="text" size="2"> px <br>
        Page Space Top: <input name="dinnerPaddingTop" id="dinner-padding-top" type="text" size="2"> px <br>
        "olea" Logo Space Bottom: <input name="h1paddingBottom" id="olea-padding-bottom" type="text" size="2"> px <br>
        Space between menu items: <input name="dinnerMenuItemsPadding" id="dinner-menu-items-padding" type="text" size="2"> px <br>
        Space between lines of menu items: <input name="dinnerMenuLineHeight" id="dinner-menu-line-height" type="text" size="2"> px <br>
        Center Gap: <input name="dinnerCenterGap" id="dinner-center-gap" type="text" size="2"> px <br>
        
        <br><br>
        FONT-SIZES<br>
        "olea" Logo Font Size: <input name="oleaLogoFontSize" id="olea-logo-font-size" type="text" size="2"> px<br>
        "sides" Font Size: <input name="sidesFontSize" id="sides-font-size" type="text" size="2"> px<br>
        Menu Items Font Size: <input name="dinnerMenuFontSize" id="dinner-menu-font-size" type="text" size="2"> px<br>
        Legal Disclaimer Font Size: <input name="legalDisclaimerFontSize" id="legal-disclaimer-font-size" type="text" size="2"> px<br>
        
        
        <button id="clear-changes">Clear Changes</button> 
        <input type="submit" id="save-changes" value="Save Changes"> 
        <button id="print-preview">Print Preview</button>
    </form>
</div><!--#controls-->
    
<div id="dinner-menu">
    <h1 id="olea">olea</h1>
    <hr>
    <div id="top" style="display:flex;">

        <div id="left" style="width:50%;flex:1;">

            <div id="cured-meats">
                <ul>
                    <% for(let i=0; i<info.length;i++){ %>
                        <% if (info[i].category == "DINNER: Cured Meats" && info[i].sequence != "0"){ %>
                        <li class="special">
                            <span class="name"><%= info[i].name %></span><br>
                            <span><%= info[i].description %></span>
                            <span class="price"><%= info[i].price %></span>
                        </li>
                        <% } %>
                    <% } %>
                </ul>
            </div><!--#cured-meats-->
    
            <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "DINNER: Appetizer" && info[i].sequence != "0"){ %>
                    <li class="special">
                        <span class="name"><%= info[i].name %></span><br>
                        <span><%= info[i].description %></span>
                        <span class="price"><%= info[i].price %></span>
                    </li>
                    <% } %>
                <% } %>
            </ul>
            
        </div><!--#left-->

        
        <div id="right" style="width:50%;flex:1;">
            <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "DINNER: Entrée" && info[i].sequence != "0"){ %>
                    <li class="special">
                        <span class="name"><%= info[i].name %></span><br>
                        <span><%= info[i].description %></span>
                        <span class="price"><%= info[i].price %></span>
                    </li>
                    <% } %>
                <% } %>
            </ul>

            <div id="tasting-menu">
                <ul>
                    <% for(let i=0; i<info.length;i++){ %>
                        <% if (info[i].category == "Tasting Menu"){ %>
                        <li class="special">
                            <span class="name"><%= info[i].name %></span><br>
                            <span><%- info[i].description %></span>
                        </li>
                        <% } %>
                    <% } %>
                </ul>
        
            </div><!--#tasting-menu-->
        </div><!--#right-->
    </div><!--#top-->
<h2>sides</h2>
    <div id="sides" style="display:flex">
        <div class="left" style="width:50%">
            <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "DINNER: Sides Left" && info[i].sequence != "0"){ %>
                    <li class="special">
                        <span class="name"><%= info[i].name %></span><br>
                        <span><%= info[i].description %></span>
                        <span class="price"><%= info[i].price %></span>
                    </li>
                    <% } %>
                <% } %>
            </ul>
            
        </div><!--.left-->
        
        <div class="right" style="width:50%">
            <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "DINNER: Sides Right" && info[i].sequence != "0"){ %>
                    <li class="special">
                        <span class="name"><%= info[i].name %></span><br>
                        <span><%= info[i].description %></span>
                        <span class="price"><%= info[i].price %></span>
                    </li>
                    <% } %>
                <% } %>
            </ul>
        
        </div><!--.right-->
    </div><!--#sides-->

    <div id="footer" style="display:flex;">
        <div id="chef" style="width:50%">
            <h3>manuel romero, chef</h3>
        </div>
        <div id="legal-disclaimer" style="width:50%">
            <% for(let i=0; i<info.length;i++){ %>
                <% if (info[i].category == "dinnerLegalDisclaimer"){ %>
                
                    <span><%= info[i].description %></span>
                
                <% } 
            } %>
        </div>
    </div><!--#footer-->

    
</div><!--#dinner-menu-->


</div><!--#flexbox-->

</div><!--#wrapper-->
<script src="main.js"></script>

<script>
    let specialsPage = document.querySelector('#specials')
    let paddingBottom = document.querySelector('#padding-bottom')
    let oleaPaddingBottom = document.querySelector('#olea-padding-bottom')
    let paddingBottomControl = document.querySelector('#padding-bottom-control')
    
    
    let appetizerHeading = document.querySelector('#appetizer-heading')
    let entreeHeading = document.querySelector('#entree-heading')
    let dessertHeading = document.querySelector('#dessert-heading')
    let clearChanges = document.querySelector('#clear-changes')
    
    
    let printPreview = document.querySelector('#print-preview')
    let dinnerMenuItemsPadding = document.querySelector('#dinner-menu-items-padding')
    let footer = document.querySelector('#footer')
    let sides = document.querySelector('#sides')
    let dinnerTop = document.querySelector('#top')
    let dinnerCenterGap = document.querySelector('#dinner-center-gap')   
    let dinnerPaddingTop = document.querySelector('#dinner-padding-top')
    let dinnerMenu = document.querySelector('#dinner-menu')
    let dinnerPaddingSides = document.querySelector('#dinner-padding-sides')
    let chef = document.querySelector('h3')
    let sidesHeading = document.querySelector('h2')
    let sidesFontSize = document.querySelector('#sides-font-size')
    let legalDisclaimer = document.querySelector('#legal-disclaimer')
    let legalDisclaimerFontSize = document.querySelector('#legal-disclaimer-font-size')
    let oleaLogoFontSize = document.querySelector('#olea-logo-font-size')
    let olea = document.querySelector('#olea')
    let dinnerMenuLineHeight = document.querySelector('#dinner-menu-line-height')
    let p = document.querySelectorAll('.special')
    let dinnerMenuFontSize = document.querySelector('#dinner-menu-font-size')
    dinnerMenuFontSize.addEventListener('input', function(evt){
        p.forEach((dinnerMenu,i)=>{
            dinnerMenu.style.fontSize = `${Number(this.value)}px`
        })
        chef.style.fontSize = `${Number(this.value)}px`
    })
    dinnerMenuLineHeight.addEventListener('input', function(evt){
        p.forEach((dinnerMenu,i)=>{
            dinnerMenu.style.lineHeight = `${Number(this.value)}px`
        })
    })
    oleaLogoFontSize.addEventListener('input', function(evt){
        olea.style.fontSize = `${Number(this.value)}px`
    })
    legalDisclaimerFontSize.addEventListener('input', function(evt){
        legalDisclaimer.style.fontSize = `${Number(this.value)}px`
    })
    sidesFontSize.addEventListener('input', function(evt){
        sidesHeading.style.fontSize = `${Number(this.value)}px`
    })
    dinnerPaddingSides.addEventListener('input', function(evt){
        dinnerMenu.style.paddingLeft = `${Number(this.value)}px`
        dinnerMenu.style.paddingRight = `${Number(this.value)}px`
    })
    dinnerPaddingTop.addEventListener('input', function(evt){
        dinnerMenu.style.paddingTop = `${Number(this.value)}px`
    })
    dinnerCenterGap.addEventListener('input', function(evt){
        dinnerTop.style.gap = `${Number(this.value)}px`
        sides.style.gap = `${Number(this.value)}px`
        footer.style.gap = `${Number(this.value)}px`
    })
    dinnerMenuItemsPadding.addEventListener('input', function(evt){
        p.forEach((special,i)=>{
            special.style.paddingTop = `${(Number(this.value))/2}px`
            special.style.paddingBottom = `${(Number(this.value))/2}px`
        })
    })
    printPreview.addEventListener('click',(event)=>{
        event.preventDefault()
        location.replace('/printDinner')
    })
    
    


    clearChanges.addEventListener('click',(event)=>{
        event.preventDefault()
        location.reload()
    })
    oleaPaddingBottom.addEventListener('input', function(evt){
        olea.style.paddingBottom = `${Number(this.value)}px`
    })


    document.querySelector('#dinner-update-cured-meats').addEventListener('click',()=>{
                location.replace('/dinnerUpdateCuredMeats')
            })

    
            document.querySelector('#archive').addEventListener('click',()=>{
                location.replace('/archive')
            })
            document.querySelector('#specials').addEventListener('click',()=>{
                location.replace('/manager')
            })
</script>

</body>
</html>