<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    
    <link rel="stylesheet" href="manager.css">
    <script
      src="https://kit.fontawesome.com/21ef82ed30.js"
      crossorigin="anonymous"
    ></script>
    
</head>



<% 
let dinnerCuredMeatsCount=0
for (let i=0; i<info.length; i++){
    if (info[i].category == "DINNER: Cured Meats" && info[i].sequence != "0") dinnerCuredMeatsCount++ 
}

%>
<script>
let dinnerCuredMeatsCount = <%=dinnerCuredMeatsCount%>
</script>






<body>
  <div id="wrapper">
  <div id="content">
    <nav>
        <h1>olea<span id="content-manager">Content Manager</span></h1>
                
                
                <ul>
                  <a href="/manager"><li id="specials">Specials</li></a>
                    <li class="active-page">Dinner</li>
                    <li>Dessert</li>
                    <li>Wine/Drinks</li>
                    <li id="archive">Archive</li>
                </ul>
                <ul>
                    <li class="active-page">Edit Menu Items</li>
                    <a href="/dinnerLayout"><li id="dinner-format-layout">Format Layout</li></a>
                    <a href="/dinnerPrintPreview"><li id="dinner-print-preview">Print Preview</li></a>
                </ul>
                <ul>
                    <a href="/dinnerUpdateCuredMeats"><li id="dinner-cured-meats">Cured Meats</li></a>
                    <a href="/dinnerUpdateAppetizers"><li id="dinner-appetizers">Appetizers</li></a>
                    <a href="/dinnerUpdateEntrees"><li id="dinner-entrees">Entrées</li></a>
                    <li id="dinner-sides" class="active-page">Sides</li>
                </ul>

            </nav>
            <main>
            
        
            <h2>DINNER: Sides Left</h2>
            
        
        <ul>
          <% for(let i=0; i<info.length;i++){ 
            if( info[i].sequence &&
                info[i].sequence != "" &&
                info[i].sequence != "0" && 
                info[i].category == "DINNER: Sides Left"){ %>
          <li class="special">
            <% if(info[i].sequence == "1"){ %>
                <div class="move-up" style="visibility:hidden"><i class="fa-solid fa-sort-up"></i></div>
            <% }else{ %>
                <div class="move-up"><i class="fa-solid fa-sort-up"></i></div>
            <% } %>
            <div><%= info[i]._id %></div>
            <div><%= info[i].category %></div>
            <div><%= info[i].sequence %></div>
            <div><%= info[i].name %></div>
            <div><%= info[i].description %></div>
            <div><%= info[i].price %></div>
            <div><%= info[i].allergies %></div>
            <div><%- `${info[i].timestamp}`.substring(0,24) %></div>

            <span class="edit"><i class="fa-solid fa-pencil"></i> Edit</span
                >&nbsp;&nbsp;
                <span class="archive"
                ><i class="fa-solid fa-box-archive"></i> Archive</span
                >&nbsp;&nbsp;
                <span class="del"><i class="fa-solid fa-trash-can"></i> Delete</span
                    >&nbsp;&nbsp;
                    <span class="transfer"
                    ><i class="fa-solid fa-arrow-right-arrow-left"></i> Transfer</span
                    >&nbsp;&nbsp;
            <% if(info[i].sequence != dinnerCuredMeatsCount){ %>
                <div class="move-down"><i class="fa-solid fa-sort-down"></i></div>
            <% } %>
           </li>
          <% } } %>
        </ul>
    
        <h2>DINNER: Sides Right</h2>
        <ul>
            <% for(let i=0; i<info.length;i++){ 
              if( info[i].sequence &&
                  info[i].sequence != "" &&
                  info[i].sequence != "0" && 
                  info[i].category == "DINNER: Sides Right"){ %>
            <li class="special">
              <% if(info[i].sequence == "1"){ %>
                  <div class="move-up" style="visibility:hidden"><i class="fa-solid fa-sort-up"></i></div>
              <% }else{ %>
                  <div class="move-up"><i class="fa-solid fa-sort-up"></i></div>
              <% } %>
              <div><%= info[i]._id %></div>
              <div><%= info[i].category %></div>
              <div><%= info[i].sequence %></div>
              <div><%= info[i].name %></div>
              <div><%= info[i].description %></div>
              <div><%= info[i].price %></div>
              <div><%= info[i].allergies %></div>
              <div><%- `${info[i].timestamp}`.substring(0,24) %></div>

              <span class="edit"><i class="fa-solid fa-pencil"></i> Edit</span
                  >&nbsp;&nbsp;
                  <span class="archive"
                  ><i class="fa-solid fa-box-archive"></i> Archive</span
                  >&nbsp;&nbsp;
                  <span class="del"><i class="fa-solid fa-trash-can"></i> Delete</span
                      >&nbsp;&nbsp;
                      <span class="transfer"
                      ><i class="fa-solid fa-arrow-right-arrow-left"></i> Transfer</span
                      >&nbsp;&nbsp;
              <% if(info[i].sequence != dinnerCuredMeatsCount){ %>
                  <div class="move-down"><i class="fa-solid fa-sort-down"></i></div>
              <% } %>
             </li>
            <% } } %>
          </ul>
      
        <h2>Add New Menu Item:</h2>
    
        <form action="/addSpecial" method="POST">
          <input type="text" placeholder="Category" name="category" /><br />
          <input type="text" placeholder="Sequence" name="sequence" /><br />
          <input type="text" placeholder="Name" name="name" /><br />
          <textarea
            rows="5"
            cols="40"
            placeholder="Description"
            name="description"
          ></textarea
          ><br />
          <input type="text" placeholder="Price" name="price" /><br />
          <input type="text" placeholder="Allergies" name="allergies" /><br />
          <input type="submit" id="update-button" value="Create" />
        </form>
    
        <h2>Edit Exisiting Menu Item:</h2>
    
        <form action="/editSpecial" method="POST">
          <div name="_id" id="display-ID"></div>
          <input type="text" id="edit-id" placeholder="ID#" name="_id" /><br />
          <input
            type="text"
            id="edit-category"
            placeholder="Category"
            name="category"
          /><br />
          <input
            type="text"
            id="edit-sequence"
            placeholder="Sequence"
            name="sequence"
          /><br />
          <input type="text" id="edit-name" placeholder="Name" name="name" /><br />
          <textarea
            rows="5"
            cols="40"
            placeholder="Description"
            id="edit-description"
            name="description"
          ></textarea
          ><br />
          <input
            type="text"
            id="edit-price"
            placeholder="Price"
            name="price"
          /><br />
          <input
            type="text"
            id="edit-allergies"
            placeholder="Allergies"
            name="allergies"
          /><br />
    
          <!-- <input type="hidden" name="timestamp" id="timestamp-edit-special">
          <script>
            document.querySelector('#timestamp-edit-special').value = new Date()
          </script> -->
    
          <input type="submit" value="Update" />
        </form>
    </main>
    <footer>
      <ul>
        <li>Specials</li>
        <li>Dinner</li>
        <li>Dessert</li>
        <li>Wine/Drinks</li>
        <li>Archive</li>
    </ul>
    </footer>

      </div><!--#content-->    
      </div><!--#wrapper-->
    
        <script src="main.js"></script>
        
</body>
</html>