<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olea Dinner Menu</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/21ef82ed30.js" crossorigin="anonymous"></script>
    <style>
        @media print{
            .no-print{
                display: none !important;
            }
        }
        
        .special{
            margin-bottom: 0px;
        }
        #wrapper{
            min-width:100%;
            min-height:100vh;

            /* background:grey; */
            display:grid;
            place-content:center;
        }
        #specials{
            position: relative;
        }
        #controls{
            line-height:30px;
            font-size:19px;
        }
        #specials, #controls{
            width:4.25in;
            height:5.5in;
            background:white;
            border:solid 1px black;
            padding: 0px 0px;
            display:inline-block;
            
        }
        #dinner-menu{
            width: 8.5in;
            height: 14in;
            position: relative;
            /* border: 1px solid red; */
            /* transform: scale(0.75); */

            padding-left:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerPaddingSides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            
            padding-right:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerPaddingSides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            padding-top:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerPaddingTop'){ 
                        
                        %>
                        <%= info[i].pixels %>
            <%
                    } 
                } 
            %>;

        }
        #specials{
            padding-top:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls' && info[i].name == 'padding-top'){ 
                        
                        %>
                        <%= info[i].pixels %>
            <%
                    } 
                } 
            %>;

            padding-left:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls' && info[i].name == 'padding-sides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            
            padding-right:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls' && info[i].name == 'padding-sides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            
        }
        
        ul{
            font-family:serif;
        }
        
        h1{
            padding-bottom:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls' && info[i].name == 'h1paddingBottom'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'oleaLogoFontSize'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
        }
        h2{
            font-family: FuturaLight;
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'sidesFontSize'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
        }
        h3{
            font-family: FuturaLight;
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerMenuFontSize'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
        }
        li{
            padding-top:            
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerMenuItemsPadding'){ 
                        let half=(info[i].pixels).substring(0,info[i].pixels.length-2)/2
                        %>
                        <%= half%>px
            <%
                    } 
                } 
            %>;
            padding-bottom:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerMenuItemsPadding'){ 
                        let half=(info[i].pixels).substring(0,info[i].pixels.length-2)/2
                        %>
                        <%= half%>px
            <%
                    } 
                } 
            %>;
            line-height:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerMenuLineHeight'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerMenuFontSize'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
        }
        input{
            text-align: center;
        }
        #legal-disclaimer{
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'legalDisclaimerFontSize'){ 
                        
                        %>
                        <%= info[i].pixels %>
            <%
                    } 
                } 
            %>;

        }
        #flexbox{
            display:flex;
        }
        button, #save-changes{
            padding:10px 20px;
            cursor:pointer;
        }
        #top, #sides, #footer{
            gap:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controlsDinner' && info[i].name == 'dinnerCenterGap'){ 
                        
                        %>
                        <%= info[i].pixels %>
            <%
                    } 
                } 
            %>;
        }
        @media (orientation: landscape){
            #flexbox{
                flex-direction: row;
            }
            @media (max-width: 8.5in){
                #wrapper{
                    width:8.5in;
                }
            }
        }
        @media (orientation: portrait){
            #flexbox{
                flex-direction: column;
            }
            @media (max-width: 4.25in){
                #wrapper{
                    width:4.25in;
                }
            }

        }

    </style>
</head>

<% 
    let appetizerCount=0
    let entreeCount=0
    let dessertCount=0
    for (let i=0; i<info.length; i++){
        if (info[i].category == "SPECIALS: Appetizer") appetizerCount++ 
        if (info[i].category == "SPECIALS: Entrée") entreeCount++ 
        if (info[i].category == "SPECIALS: Dessert") dessertCount++ 
    }
    
%>
<script>
    let appetizerCount = <%=appetizerCount%>
    let entreeCount = <%=entreeCount%>
    let dessertCount = <%=dessertCount%>
   
</script>

<body>
<div id="wrapper" class="no-print;" style="background-color:lightgray;place-content:center;">



    
<div id="dinner-menu" style="background-color: white;">
    <h1 id="olea">olea</h1>
    <hr>
    <div id="top" style="display:flex;">

        <div id="left" style="width:50%;flex:1;">

            <div id="cured-meats">
                <ul>
                    <% for(let i=0; i<info.length;i++){ %>
                        <% if (info[i].category == "DINNER: Cured Meats" && info[i].sequence != "0"){ %>
                        <li class="special">
                            <span class="name"><%= info[i].name %></span><br>
                            <span><%= info[i].description %></span>
                            <span class="price"><%= info[i].price %></span>
                        </li>
                        <% } %>
                    <% } %>
                </ul>
            </div><!--#cured-meats-->
    
            <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "DINNER: Appetizer" && info[i].sequence != "0"){ %>
                    <li class="special">
                        <span class="name"><%= info[i].name %></span><br>
                        <span><%= info[i].description %></span>
                        <span class="price"><%= info[i].price %></span>
                    </li>
                    <% } %>
                <% } %>
            </ul>
            
        </div><!--#left-->

        
        <div id="right" style="width:50%;flex:1;">
            <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "DINNER: Entrée" && info[i].sequence != "0"){ %>
                    <li class="special">
                        <span class="name"><%= info[i].name %></span><br>
                        <span><%= info[i].description %></span>
                        <span class="price"><%= info[i].price %></span>
                    </li>
                    <% } %>
                <% } %>
            </ul>

            <div id="tasting-menu">
                <ul>
                    <% for(let i=0; i<info.length;i++){ %>
                        <% if (info[i].category == "Tasting Menu"){ %>
                        <li class="special">
                            <span class="name"><%= info[i].name %></span><br>
                            <span><%- info[i].description %></span>
                        </li>
                        <% } %>
                    <% } %>
                </ul>
        
            </div><!--#tasting-menu-->
        </div><!--#right-->
    </div><!--#top-->
<h2>sides</h2>
    <div id="sides" style="display:flex">
        <div class="left" style="width:50%">
            <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "DINNER: Sides Left" && info[i].sequence != "0"){ %>
                    <li class="special">
                        <span class="name"><%= info[i].name %></span><br>
                        <span><%= info[i].description %></span>
                        <span class="price"><%= info[i].price %></span>
                    </li>
                    <% } %>
                <% } %>
            </ul>
            
        </div><!--.left-->
        
        <div class="right" style="width:50%">
            <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "DINNER: Sides Right" && info[i].sequence != "0"){ %>
                    <li class="special">
                        <span class="name"><%= info[i].name %></span><br>
                        <span><%= info[i].description %></span>
                        <span class="price"><%= info[i].price %></span>
                    </li>
                    <% } %>
                <% } %>
            </ul>
        
        </div><!--.right-->
    </div><!--#sides-->

    <div id="footer" style="display:flex;">
        <div id="chef" style="width:50%">
            <h3>manuel romero, chef</h3>
        </div>
        <div id="legal-disclaimer" style="width:50%">
            <% for(let i=0; i<info.length;i++){ %>
                <% if (info[i].category == "dinnerLegalDisclaimer"){ %>
                
                    <span><%= info[i].description %></span>
                
                <% } 
            } %>
        </div>
    </div><!--#footer-->

    
</div><!--#dinner-menu-->



</div><!--#wrapper-->
<script src="main.js"></script>



</body>
</html>