<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="manager.css">
    <script
      src="https://kit.fontawesome.com/21ef82ed30.js"
      crossorigin="anonymous"
    ></script>
    <style>
        *{
            padding:0;
            margin:0;
            box-sizing:border-box
        }
        #wrapper{
            max-width:100%;
            min-height:100vh;
            display:grid;
            place-content: center;
        }
        h1{
            text-align: center;
            font-size: 40px;
            font-weight: 100;
        }
        h2{
            /* margin-bottom: 10px; */
            /* text-align: center; */
        }
        button{
            width:150px;
            margin: 0 auto;
            cursor:pointer;
            margin-bottom:20px;
        }
        nav li{
            width:25%;
            text-align: center;
            padding: 5px 0;
            border-radius: 20px;
            cursor: pointer;
        }
        nav ul{
            width:100%;
        }
        ul{
            width:60ch;
        }
        .del,
      .edit,
      .archive,
      .transfer,
      .move-up,
      .move-down {
        cursor: pointer;
        font-size: 20px;
        transform:scaleX(3);
      }
      .move-up, .move-down{
        color:green;
        width:100%;
        text-align: center;
      }
      .transfer {
        color: blue;
      }
      .del {
        color: red;
      }
      .edit {
        color: rgb(183, 183, 0);
      }
      .archive {
        color: #654321;
      }
      .special {
        margin-bottom: 20px;
      }
      ul{
        list-style-type: none;
      }
      li {
        max-width: 50ch;
      }
      .active-page{
        background: black;
        color:white;
        cursor: none;
      }
    </style>
</head>



<% 
let dinnerCuredMeatsCount=0
for (let i=0; i<info.length; i++){
    if (info[i].category == "DINNER: Cured Meats" && info[i].sequence != "0") dinnerCuredMeatsCount++ 
}

%>
<script>
let dinnerCuredMeatsCount = <%=dinnerCuredMeatsCount%>
</script>






<body style="overflow-x:hidden;min-height:100vh;">
    
    <nav style="width:60ch;margin:0 auto;margin-bottom:50px;">
        <h1 style="padding:0 20px;
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        ">
                olea
                <span style="font-size:20px;">Content Manager</span></h1>
                
                
                <ul style="display:flex;list-style-type: none;">
                    <li id="specials">Specials</li>
                    <li class="active-page">Dinner</li>
                    <li>Dessert</li>
                    <li>Wine/Drinks</li>
                    <li id="archive">Archive</li>
                </ul>
                <ul style="display:flex;list-style-type: none;margin-top:10px;">
                    <li class="active-page" style="width:33%;">Edit Menu Items</li>
                    <li id="dinner-format-layout" style="width:33%;">Format Layout</li>
                    <li id="dinner-print-preview" style="width:33%;">Print Preview</li>
                </ul>
                <ul style="display:flex;list-style-type: none;margin-top:10px;">
                    <li id="dinner-cured-meats" class="active-page" style="width:25%;">Cured Meats</li>
                    <li id="dinner-appetizers" style="width:25%;">Appetizers</li>
                    <li id="dinner-entrees" style="width:25%;">Entrées</li>
                    <li id="dinner-sides" style="width:25%;">Sides</li>
                </ul>

            </nav>
            
            
            <div id="wrapper" style="position: relative;">
        <% if(dinnerCuredMeatsCount == "1"){ %>
            <h2>DINNER: Cured Meat</h2>
        <%}%>
        <% if(dinnerCuredMeatsCount > "1"){ %>
            <h2>DINNER: Cured Meats</h2>
        <%}%>
        
        <ul>
          <% for(let i=0; i<info.length;i++){ 
            if( info[i].sequence &&
                info[i].sequence != "" &&
                info[i].sequence != "0" && 
                info[i].category == "DINNER: Cured Meats"){ %>
          <li class="special">
            <% if(info[i].sequence == "1"){ %>
                <div class="move-up" style="visibility:hidden"><i class="fa-solid fa-sort-up"></i></div>
            <% }else{ %>
                <div class="move-up"><i class="fa-solid fa-sort-up"></i></div>
            <% } %>
            <div><%= info[i]._id %></div>
            <div><%= info[i].category %></div>
            <div><%= info[i].sequence %></div>
            <div><%= info[i].name %></div>
            <div><%= info[i].description %></div>
            <div><%= info[i].price %></div>
            <div><%= info[i].allergies %></div>
            <div><%- `${info[i].timestamp}`.substring(0,24) %></div>

            <span class="edit"><i class="fa-solid fa-pencil"></i> Edit</span
                >&nbsp;&nbsp;
                <span class="archive"
                ><i class="fa-solid fa-box-archive"></i> Archive</span
                >&nbsp;&nbsp;
                <span class="del"><i class="fa-solid fa-trash-can"></i> Delete</span
                    >&nbsp;&nbsp;
                    <span class="transfer"
                    ><i class="fa-solid fa-arrow-right-arrow-left"></i> Transfer</span
                    >&nbsp;&nbsp;
            <% if(info[i].sequence != dinnerCuredMeatsCount){ %>
                <div class="move-down"><i class="fa-solid fa-sort-down"></i></div>
            <% } %>
           </li>
          <% } } %>
        </ul>
    
    
    
        <h2>Add New Menu Item:</h2>
    
        <form action="/addSpecial" method="POST">
          <input type="text" placeholder="Category" name="category" /><br />
          <input type="text" placeholder="Sequence" name="sequence" /><br />
          <input type="text" placeholder="Name" name="name" /><br />
          <textarea
            rows="5"
            cols="40"
            placeholder="Description"
            name="description"
          ></textarea
          ><br />
          <input type="text" placeholder="Price" name="price" /><br />
          <input type="text" placeholder="Allergies" name="allergies" /><br />
          <input type="submit" id="update-button" value="Create" />
        </form>
    
        <h2>Edit Exisiting Menu Item:</h2>
    
        <form action="/editSpecial" method="POST">
          <div name="_id" id="display-ID"></div>
          <input type="text" id="edit-id" placeholder="ID#" name="_id" /><br />
          <input
            type="text"
            id="edit-category"
            placeholder="Category"
            name="category"
          /><br />
          <input
            type="text"
            id="edit-sequence"
            placeholder="Sequence"
            name="sequence"
          /><br />
          <input type="text" id="edit-name" placeholder="Name" name="name" /><br />
          <textarea
            rows="5"
            cols="40"
            placeholder="Description"
            id="edit-description"
            name="description"
          ></textarea
          ><br />
          <input
            type="text"
            id="edit-price"
            placeholder="Price"
            name="price"
          /><br />
          <input
            type="text"
            id="edit-allergies"
            placeholder="Allergies"
            name="allergies"
          /><br />
    
          <!-- <input type="hidden" name="timestamp" id="timestamp-edit-special">
          <script>
            document.querySelector('#timestamp-edit-special').value = new Date()
          </script> -->
    
          <input type="submit" value="Update" />
        </form>
    
      </div><!--#wrapper-->
    
        <script src="main.js"></script>
        <script>
          document.querySelector('#dinner-cured-meats').addEventListener('click',()=>{
            location.replace('/dinnerUpdateCuredMeats')
          })    
          document.querySelector('#dinner-appetizers').addEventListener('click',()=>{
                location.replace('/dinnerUpdateAppetizers')
            })
            document.querySelector('#dinner-entrees').addEventListener('click',()=>{
                location.replace('/dinnerUpdateEntrees')
            })
            document.querySelector('#dinner-sides').addEventListener('click',()=>{
                location.replace('/dinnerUpdateSides')
            })
            document.querySelector('#dinner-format-layout').addEventListener('click',()=>{
                location.replace('/dinnerLayout')
            })

            document.querySelector('#archive').addEventListener('click',()=>{
                location.replace('/archive')
            })
            document.querySelector('#specials').addEventListener('click',()=>{
                location.replace('/manager')
            })

        </script>
</body>
</html>