<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olea Specials</title>
    <script src="https://kit.fontawesome.com/21ef82ed30.js" crossorigin="anonymous"></script>
    <style>
        .del, .edit{
            cursor:pointer;
            font-size:20px;
        }
        .allergies{
            color:red;
        }
        .edit{
            color:rgb(183, 183, 0);
        }
        .special{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Olea Specials</h1>
    <ul class="specials">
    <% for(let i=0; i<info.length;i++){%>
        <li class="special">
            <div><%= info[i]._id %></div>
            <div><%= info[i].category %></div>
            <div><%= info[i].name %></div>
            <div><%= info[i].description %></div>
            <div><%= info[i].price %></div>
            <div class="allergies"><%= info[i].allergies %></div>
        </li>
    <% } %>
    </ul>

    <script src="main.js"></script>

</body>
</html>