<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olea Specials</title>
    <script src="https://kit.fontawesome.com/21ef82ed30.js" crossorigin="anonymous"></script>
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        .del, .edit{
            cursor:pointer;
            font-size:20px;
        }
        .allergies{
            color:red;
        }
        .edit{
            color:rgb(183, 183, 0);
        }
        .special{
            margin-bottom: 20px;
        }
        #wrapper{
            width:100%;
            min-height:100vh;
            background:grey;
            display:grid;
            place-content:center;
        }
        #specials{
            width:8.5in;
            height:11in;
            background:white;
            
            display:flex;
            flex-wrap:wrap;
            flex-direction: row;
        }
        .name, .price{
            font-weight:bold;
        }
        ul{
            list-style-type:none;
            padding:0;
        }
        h1{
            padding:20px 0;
        }
        .quarter{
            
            width:4.25in;
            height:5.5in;
            display:inline-block;
        }
    </style>
</head>
<body>
<div id="wrapper">
<div id="specials">
    <div class="quarter">
        <h1>today's specials</h1>
        <ul>
        <% for(let i=0; i<info.length;i++){%>
            <li class="special">
                <div><%= info[i].category %></div>
                <div class="name"><%= info[i].name %></div>
                <div><%= info[i].description %></div>
                <div class="price"><%= info[i].price %></div>
                <div class="allergies"><%= info[i].allergies %></div>
            </li>
        <% } %>
        </ul>
    
    </div>
    <div class="quarter">
        <h1>today's specials</h1>
        <ul>
        <% for(let i=0; i<info.length;i++){%>
            <li class="special">
                <div><%= info[i].category %></div>
                <div class="name"><%= info[i].name %></div>
                <div><%= info[i].description %></div>
                <div class="price"><%= info[i].price %></div>
                <div class="allergies"><%= info[i].allergies %></div>
            </li>
        <% } %>
        </ul>
            
    </div>
    <div class="quarter">
        <h1>today's specials</h1>
        <ul>
        <% for(let i=0; i<info.length;i++){%>
            <li class="special">
                <div><%= info[i].category %></div>
                <div class="name"><%= info[i].name %></div>
                <div><%= info[i].description %></div>
                <div class="price"><%= info[i].price %></div>
                <div class="allergies"><%= info[i].allergies %></div>
            </li>
        <% } %>
        </ul>
            
    </div>
    <div class="quarter">
        <h1>today's specials</h1>
        <ul>
        <% for(let i=0; i<info.length;i++){%>
            <li class="special">
                <div><%= info[i].category %></div>
                <div class="name"><%= info[i].name %></div>
                <div><%= info[i].description %></div>
                <div class="price"><%= info[i].price %></div>
                <div class="allergies"><%= info[i].allergies %></div>
            </li>
        <% } %>
        </ul>
            
    </div>


</div><!--#specials-->
</div><!--#wrapper-->
<script src="main.js"></script>
</body>
</html>